.text-gradient {
    background: linear-gradient(90deg, #f87516 0%, #5e11ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }