@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sora:wght@100..800&display=swap");

.bg-section-card{
  background: linear-gradient(180deg, #0d061f, #251e35);
    border: 2px;
    border-style: solid;
    border-color: #ffffff10;
    border-radius: 20px;
}
.text-gradient {
  background: linear-gradient(90deg,#f87516 0%, #5e11ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  width: fit-content;
  color: transparent;
  display: inline-block;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
